@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: url("../../public/images/cursor.png"), default;
}

.cursor-pointer {
  cursor: url("../../public/images/cursor-pointer.png"), pointer;
}

::-webkit-scrollbar {
  width: 15px;
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #ffff00;
  border-radius: calc(15px / 2);
}
