@tailwind base;
@tailwind components;
@tailwind utilities;

/* 임시 Nav 입니다. */
.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}