


.button {
  display: flex;
  width: 170px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #FFC7C2;
  font-size: 20px;
  border-radius: 8px;
  margin-left: 10px;

}
